/* reset css */

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit; /* 부모의 color를 상속 받는다 */
  text-decoration: none;
}

button,
input,
textarea {
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  padding-left: 0;
  margin-left: 0;
}

a:hover {
  border-bottom: 2px solid black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress {
  width: 100%;
  height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10;
}

.bar {
  position: absolute;
  width: 0%;
  height: 20px;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 11;
}

/* main */
main {
  padding: 0 20px;
}

/* title */
.title {
  margin-top: 160px;
  margin-bottom: 100px;
}
.title h1 {
  font-size: 90px;
  font-weight: bold;
  opacity: 0.8;
}

.title p {
  font-size: 27px;
  font-weight: 500;
  line-height: 1.8;
}

/* edu */
.edu,
.license,
.active,
.award {
  border-bottom: 2px solid #ececec;
}

.edu,
.license,
.active,
.award,
.work,
.etc {
  font-size: 40px;
  opacity: 0.8;
}

.edu_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 50px;
}

.edu_info__detail {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* license */
.license {
  margin-top: 160px;
}

.license_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 30px;
}

/* active */
.active {
  margin-top: 160px;
}

.active_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 30px;
}

.active_info__detail {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* .info_1 {
  padding-right: 40px;
} */

/* award */
.award {
  margin-top: 160px;
}

.award_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 50px;
}

.award_info__detail {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* work */
.work {
  width: 100%;
  margin-top: 160px;
}

.work_info {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  margin-bottom: 50px;
}

.work_info__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.work_info__title {
  font-weight: bold;
  margin-bottom: 10px;
}

.work_info__subtitle {
  font-size: 18px;
  opacity: 0.8;
}

.work_info__desc {
  font-size: 18px;
  margin-bottom: 100px;
}

.work_info__stack {
  display: flex;
  flex-direction: column;
}

.work_info__stack span:first-child {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 5px;
  font-size: 18px;
}

.work_info__stack:last-child {
  padding-bottom: 30px;
  border-bottom: 2px solid #ececec;
}

/* etc */
.etc {
  width: 100%;
  margin-top: 160px;
}

.etc_info {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.etc ul li {
  margin-bottom: 10px;
}

@media (min-width: 650px) {
  main {
    width: 700px;
  }
}

@media (max-width: 650px) {
  .progress {
    height: 10px;
  }

  .bar {
    height: 10px;
  }

  main {
    width: 100vw;
    padding: 0 20px;
  }

  /* title */
  .title {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .title h1 {
    font-size: 42px;
    font-weight: bold;
  }

  .title p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
  }

  /* edu */
  .edu,
  .license,
  .active,
  .award,
  .work,
  .etc {
    font-size: 22px;
    opacity: 0.8;
  }

  .edu_info {
    font-size: 16px;
  }

  /* license */
  .license {
    margin-top: 100px;
  }

  .license_info {
    font-size: 16px;
  }

  /* active */
  .active {
    margin-top: 100px;
  }
  .active_info {
    font-size: 16px;
  }

  .info_1 {
    padding-right: 0;
  }

  .award {
    margin-top: 100px;
  }

  .award_info {
    width: 100%;
    font-size: 16px;
    margin-bottom: 50px;
  }

  /* work */
  .work {
    width: 100%;
    margin-top: 100px;
  }

  .work_info__subtitle {
    font-size: 18px;
    opacity: 0.8;
  }

  .work_info__desc {
    font-size: 16px;
  }

  .work_info__stack span:first-child {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 18px;
  }

  /* etc */
  .etc {
    width: 100%;
    margin-top: 100px;
  }

  .etc ul {
    padding-left: 20px;
  }
}
